/UpsideDownKitten/.vs
/UpsideDownKitten/UpsideDownKitten/obj
/UpsideDownKitten/UpsideDownKitten/bin
/UpsideDownKitten/UpsideDownKitten.BL/bin
/UpsideDownKitten/UpsideDownKitten.BL/obj
/UpsideDownKitten/UpsideDownKitten.DL/bin
/UpsideDownKitten/UpsideDownKitten.DL/obj
/UpsideDownKitten/UpsideDownKitten.Utils/obj
/UpsideDownKitten/UpsideDownKitten.Utils/bin
